*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none; }

html {
  font-size: 62.5%; }

*:focus {
  outline: none; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.heading-primary {
  color: #505050;
  font-size: 4.5rem;
  margin-bottom: 15rem; }

.header {
  height: 100vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 6.5rem;
    left: 15rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }
