@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Regular.eot');
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('/sass/fonts/Merriweather-Regular/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('/sass/fonts/Merriweather-Regular/Merriweather-Regular.woff2') format('woff2'),
        url('/sass/fonts/Merriweather-Regular/Merriweather-Regular.woff') format('woff'),
        url('/sass/fonts/Merriweather-Regular/Merriweather-Regular.ttf') format('truetype'),
        url('/sass/fonts/Merriweather-Regular/') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.eot');
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
        url('/sass/fonts/Merriweather-Bold/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('/sass/fonts/Merriweather-Bold/Merriweather-Bold.woff2') format('woff2'),
        url('/sass/fonts/Merriweather-Bold/Merriweather-Bold.woff') format('woff'),
        url('/sass/fonts/Merriweather-Bold/Merriweather-Bold.ttf') format('truetype'),
        url('/sass/fonts/Merriweather-Bold/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/sass/fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('/sass/fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
        url('/sass/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
        url('/sass/fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
        url('/sass/fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('/sass/fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('/sass/fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'),
        url('/sass/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
        url('/sass/fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
        url('/sass/fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.eot');
    src: local('Raleway Regular'), local('Raleway-Regular'),
        url('/sass/fonts/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('/sass/fonts/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
        url('/sass/fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
        url('/sass/fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype'),
        url('/sass/fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
