// COLORS
$color-primary: #000;

$color-dark: #505050;
$color-dark-1: #272727;
$color-dark-2: #021623;

$color-gray: #eff0f2;
$color-gray-1: #767070;

$color-blue: #76f4ea;
$color-blue-1: #6df6eb;
$color-blue-2: #6eeee4;

$color-white: #fff;
$color-white-2: #f8fafa;
$color-white-3: #f9fbfb;

// FONT
$default-font-size: 1.6rem;
