.header {
	background: $color-gray;
	height: 80.5rem;
	position: relative;
	&__logo-box {
		position: absolute;
		top: 6.5rem;
		left: 15rem;
	}

	&__text-box {
		position: absolute;
		left: 50%;
		top: 56%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__img-box {
		position: absolute;
		bottom: 7rem;
		right: 20rem;
	}
}
