.form {
    &__group:not(:last-child) {
        margin-bottom: 1.3rem;
    }

    &__group:nth-of-type(4) {
        margin-bottom: 4rem;
    }

    &__group:nth-of-type(4) > &__input {
        padding-bottom: 8.5rem;
    }

    &__form {
        width: 50%;
    }

    &__input {
        font-family: "Raleway-Regular", sans-serif;
        font-size: 1.5rem;
        border: none;
        border-bottom: 1px solid $color-white;
        width: 100%;
        display: block;
        background-color: transparent;
        padding: 1.5rem .4rem;
    }
}
